[submodule "kicad_libs"]
	path = kicad_libs
	url = git@github.com:igorwolfs/kicad_libs.git
[submodule "acoustic-processing-board"]
	path = acoustic-processing-hw
	url = git@github.com:igorwolfs/acoustic-processing-board.git
[submodule "acoustic-piezodriver-hw"]
	path = acoustic-piezodriver-hw
	url = git@github.com:igorwolfs/acoustic-piezodriver-hw.git