[submodule "kicad_libs"]
	path = kicad_libs
	url = git@github.com:igorwolfs/kicad_libs.git
[submodule "modular-adc-hw"]
	path = modular-adc-hw
	url = git@github.com:igorwolfs/modular-adc-hw.git
[submodule "modular-carrier-hw"]
	path = modular-carrier-hw
	url = git@github.com:igorwolfs/modular-carrier-hw.git
[submodule "acoustic-processing-hw"]
	path = acoustic-processing-hw
	url = git@github.com:igorwolfs/acoustic-processing-hw.git
